.about-us {
  @include content-padding-block(120px, 148px, 148px);
  max-width: 754px;
  margin: 0 auto;

  &__title {
    font-size: 32px;
    color: $main-txt-col;
    text-align: center;
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    color: $gray-txt-col;
    text-align: center;
    padding-top: 16px;
  }
}
