.header {
  position: relative;

  @include on-desktop {
    height: auto;
  }
  color: $white-txt-col;
  background-color: var(--background-color);
  transition: background-color $animDuration;
  border-bottom-left-radius: $section-border-radius;
  border-bottom-right-radius: $section-border-radius;

  &__top {
    @include content-padding-inline;
  }

  &__content {
    @include content-padding-inline;

    @include on-desktop {
      padding-top: 168px;
      padding-bottom: 205px;
      width: 45%;
    }
  }

  &__title {
    font-size: 52px;

    @include on-tablet {
      font-size: 64px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    line-height: 27px;
  }

  &__button {
    @include section-margin-top(72px, 56px, 83px);
  }

  &__slider {
    @include section-margin-top(48px, 147px, 0);
    overflow: hidden;
    transition: opacity 0.5s ease;

    border-radius: $section-border-radius;
    height: 390px;
    width: 100%;

    @include on-tablet {
      height: 640px;
    }

    @include on-desktop {
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      height: 680px;
      width: 45%;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
