.pre-footer {
  background-color: #fff;

  &__background {
    background-image: url(../images/Shapes.png);
    background-position: center;
    max-width: 1450px;
    margin: 0 auto;
  }

  &__container {
    @include content-padding-block(72px, 200px, 200px);
  }

  &__title {
    margin-bottom: 24px;
    color: $main-txt-col;
    text-align: center;

    font-size: 44px;
    line-height: 52px;

    @include on-tablet {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__text {
    color: $gray-txt-col;
    text-align: center;

    font-size: 22px;
    line-height: 33px;
    margin-bottom: 56px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 36px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__link {
    text-decoration: none;
  }
}
