.services {
  @include content-padding-block(120px, 148px, 148px);

  &__container {
    @include on-tablet {
      @include page-grid;
    }
  }
}

.services-description {
  @include on-tablet {
    grid-column: 1 / 4;
    margin-bottom: -120px;
  }
  @include on-desktop {
    grid-column: 1 / 6;
    margin-bottom: 0;
  }
  &__title {
    color: $light-txt-col;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

  &__subtitle {
    color: $main-txt-col;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  &__p {
    color: $gray-txt-col;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &--1 {
      margin-bottom: 16px;
    }

    &--2 {
      margin-bottom: 48px;
    }
  }
}

.services-cards {
  @include on-tablet {
    grid-column: 1 / -1;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  @include on-desktop {
    grid-column: 7 / -1;
  }
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.services-card {
  @include hover(transform, translateY(-5%));
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;

  &__photo {
    width: 250px;
    height: 120px;
    border: solid #fff;
    border-radius: 10px;
  }

  &--1 {
    @include on-tablet {
      grid-row: 2 / 4;
      grid-column: 1 / 2;
    }
  }

  &--2 {
    @include on-tablet {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }
  }

  &--3 {
    @include on-tablet {
      grid-row: 4 / -1;
      grid-column: 1 / 2;
    }
  }

  &--4 {
    @include on-tablet {
      grid-row: 3 / 5;
      grid-column: 2 / 3;
    }
  }

  &__number {
    padding: 2px 12px;
    border-radius: 23px;
    font-size: 13px;
    line-height: 20px;
    width: fit-content;
    margin-bottom: 24px;

    &--1 {
      background-color: rgba(
        var(--001-color-r),
        var(--001-color-g),
        var(--001-color-b), 0.1);
      color: var(--001-color);
      margin-left: 40px;
    }

    &--2 {
      background-color: rgba(
        var(--002-color-r),
        var(--002-color-g),
        var(--002-color-b), 0.1);
      color: var(--002-color);
      margin-left: 30px;
    }

    &--3 {
      background-color: rgba(
        var(--003-color-r),
        var(--003-color-g),
        var(--003-color-b), 0.1);
      color: var(--003-color);
      margin-left: 65px;
    }

    &--4 {
      background-color: rgba(
        var(--004-color-r),
        var(--004-color-g),
        var(--004-color-b), 0.1);
      color: var(--004-color);
      margin-left: 52px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $gray-txt-col;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 32px;
    font-weight: 600;
  }

  &__link {
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 16px;
    @include hover(transform, scale(1.1));
  }
  
  &__button {
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    background-image: url(../images/services/arrow-right.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-color: var(--001-color);
    }

    &--2 {
      background-color: var(--002-color);
    }

    &--3 {
      background-color: var(--003-color);
    }

    &--4 {
      background-color: var(--004-color);
    }
  }

  &__word {
    font-family: Poppins, sans-serif;
    color: #334563;
    font-size: 15px;
    line-height: 40px;
    font-weight: 600;
  }
}

