@import 'utils';
@import 'fonts';


.page {
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    background: $c-gray;
    min-width: 320px;

    @include on-desktop {
      margin: 0 auto;
    }
  }
}

.container {
  @include content-padding-inline;
  max-width: $body-max-width;
  margin: 0 auto;
}

.max-width-container {
  max-width: $body-max-width;
  margin: 0 auto;
}

.page {

  --background-color: #2c2c2c;
  --switcher-background: #D32F2F;
  --menu-color: #2c2c2c;
  --menu-underline-color: #D32F2F;
  --button-color: #D32F2F;



  --001-color: #D32F2F;
  --001-color-r: 32;
  --001-color-g: 96;
  --001-color-b: 246;
  --002-color: #D32F2F;
  --002-color-r: 32;
  --002-color-g: 96;
  --002-color-b: 246;
  --003-color: #D32F2F;
  --003-color-r: 32;
  --003-color-g: 96;
  --003-color-b: 246;
  --004-color: #D32F2F;
  --004-color-r: 32;
  --004-color-g: 96;
  --004-color-b: 246;



  --apost-1: url(/src/images/reviews/apost-1-black.svg);
  --apost-2: url(/src/images/reviews/apost-2-black.svg);
  --apost-3: url(/src/images/reviews/apost-3-black.svg);

  --slider-img: url(/src/images/slider/slider-2-desktop.jpg);
  --slider-img-tabl: url(/src/images/slider/slider-black-tablet.jpg);
  --slider-img-desk: url(/src/images/slider/slider-black-desktop.jpg);

  &--themeblue {

    --background-color: #D32F2F;
    --switcher-background: #2c2c2c;
    --menu-color: #D32F2F;
    --menu-underline-color: #1F487E;
    --button-color: #1F487E;


    --001-color: #380cd6;
    --001-color-r: 86;
    --001-color-g: 204;
    --001-color-b: 242;
    --002-color: #ddae13;
    --002-color-r: 252;
    --002-color-g: 201;
    --002-color-b: 29;
    --003-color: #0ee12d;
    --003-color-r: 21;
    --003-color-g: 216;
    --003-color-b: 80;
    --004-color: #dc1717;
    --004-color-r: 243;
    --004-color-g: 99;
    --004-color-b: 99;


    --apost-1: url(/src/images/reviews/apost-1-blue.svg);
    --apost-2: url(/src/images/reviews/apost-2-blue.svg);
    --apost-3: url(/src/images/reviews/apost-3-blue.svg);

    --slider-img: url(/src/images/slider/slider-red-phone.jpg);
    --slider-img-tabl: url(/src/images/slider/slider-red-tablet.jpg);
    --slider-img-desk: url(/src/images/slider/slider-red-desktop.jpg);
  }
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/about-us';
@import 'blocks/services';
@import 'blocks/reviews';
@import 'blocks/pre-footer';
@import 'blocks/footer';
@import 'theme-switcher';
@import 'top-bar';
@import 'nav';
@import 'icon';
@import 'button';
@import 'slider';
@import 'form';
@import 'contacts';
