.slider {
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  pointer-events: none;

  display: none;
  opacity: 0;
  transition: opacity $animDuration;

  &--1 {
    background-image: var(--slider-img);

    @include on-tablet {
      background-image: var(--slider-img-tabl);
    }

    @include on-desktop {
      background-image: var(--slider-img-desk);
    }
  }

  &--2 {
    background-image: url(../images/slider/slider-2-phone.jpg);

    @include on-tablet {
      background-image: url(../images/slider/slider-2-tablet.jpg);
    }

    @include on-desktop {
      background-image: url(../images/slider/slider-2-desktop.jpg);
    }
  }

  &--3 {
    background-image: url(../images/slider/slider-3-phone.png);

    @include on-tablet {
      background-image: url(../images/slider/slider-3-tablet.png);
    }

    @include on-desktop {
      background-image: url(../images/slider/slider-3-desktop.png);
    }
  }
}

.slider.active {
  display: block;
  opacity: 1;
}

.slider-text {
  display: flex;
  gap: 16px;
  position: absolute;

  @include content-padding-inline;

  bottom: 24px;
  flex-direction: column;

  @include on-tablet {
    bottom: 32px;
  }

  @include on-desktop {
    bottom: 48px;
    flex-direction: row;
  }

  &__controls {
    display: flex;
    gap: 16px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 13px;
    letter-spacing: 3px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
  }
}
