$c-gray: #eee;
$main-txt-col: #253757;
$gray-txt-col: #6C788B;
$white-txt-col: #fff;
$light-txt-col: #C0CDD7;
$button-background: #82a8ef;

$animDuration: 300ms;
$tablet-width: 576px;
$desktop-width: 1024px;
$body-max-width: 1200px;

$content-padding-phone: 20px;
$content-padding-tablet: 41px;
$content-padding-desktop: 54px;

$section-border-radius: 46px;

